<%- include('./partials/default/header') %> 

<!-- ===========================SECTION 1======================================================= -->
<section class="probootstrap-intro" style="background-image: url(img/BK-001.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-7 probootstrap-intro-text">
                <h1 class="probootstrap-animate" data-animate-effect="fadeIn" style="color:rgb(17, 128, 76); font-family: Liberation San;">MODEL
                    <hr><span>PRIME</span></h1>
                <div class="probootstrap-subtitle probootstrap-animate" data-animate-effect="fadeIn">
                    <h2 style="color:rgb(168, 207, 69); font-family: Liberation San;">NIGERIA LIMITED</h2>
                </div>
            </div>
        </div>
    </div>
    <span style="color:greenyellow" class="probootstrap-animate"><a class="probootstrap-scroll-down js-next"
            href="#next-section">Scroll down <i class="icon-chevron-down"></i></a></span>
</section>


<!-- ===========================MAIN SECTION 1======================================================= -->
<main>
    <section id="next-section" class="probootstrap-section">
        <div class="container">
            <div class="row probootstrap-gutter60 mb50">
                <div class="col-md-6">
                    <figure>
                        <img src="img/about_3.jpg" lt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                    </figure>
                </div>
                <div class="col-md-6">
                    <h2 class="probootstrap-heading">MODEL PRIME</h2>
                    <p style="text-align: justify;">Model Prime (Nigeria) limited is firm of Engineers, Architects and
                        Projects Managers incorporated in Nigeria by the
                        Corporate Affairs Commission in 2004 (RC608687). The Company however started out as Model Prime
                        Engineers also registered in 1994
                        by the Corporate Affairs Commission under yhe Companies and Allied matters act of 1990. We
                        maintain corporate offices in Jos and
                        Abuja as well as site offices wherever we have projects around the country.</p>
                    <p><a href="/about" class="btn btn-success">Read more about us</a></p>
                </div>
            </div>
            <div class="row probootstrap-gutter60">
                <div class="col-md-4 mb30">
                    <h4 class="mb30">My Mission</h4>
                    <p>&ldquo;TO CREATE QUALITATIVE, UNIQUE AND RELIABLE SOLUTIONS IN THE CONSULTING AND CONSTRUCTION
                        SUB-SECTORS OF THE BUILT
                        ENVIRONMENT, MAKING A DIFFERENCE.&rdquo;</p>
                </div>
                <div class="col-md-4 mb30">
                    <h4 class="mb30">CORE VALUES</h4>
                    <ul class="probootstrap-blog-list">
                        <li>
                            <a>
                                <figure class="probootstrap-image"><img src="img/quality.jpg"
                                        alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                <div class="probootstrap-text">
                                    <h4><strong>QUALITY</strong></h4>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <figure class="probootstrap-image"><img src="img/excellence.jpg"
                                        alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                <div class="probootstrap-text">
                                    <h4><strong>EXCELLENCE</strong></h4>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <figure class="probootstrap-image"><img src="img/integrity.jpg"
                                        alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                                <div class="probootstrap-text">
                                    <h4><strong>INTEGRITY</strong></h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mb30">
                    <h4 class="mb30">Vision</h4>
                    <p>&ldquo;TO BE A KNOWN BRAND IN THE CONSULTING AND CONSTRUCTION SUB-SECTORS OF THE BUILT
                        ENVIRONMENT
                        DISTINGUISHED BY QUALITY, EXCELLENCE AND INTEGRITY.&rdquo;</p>
                </div>
            </div>
        </div>
        My page
      </p>
      <%- include('./partials/default/footer') %> 


