
<style>
    /* login form styles */
.login-form {
  margin: 4rem auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(194, 238, 128);
  padding: 4rem 1rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px inset grey, 2px 2px 2px grey;
}

.form-control {
  width: 20vw;
  padding: 0.4rem;
  margin: 0.5rem 0rem;
  display: flex;
}

.login-submit {
  width: 20vw;
  padding: 0.6rem;
  margin: 0.5rem 0rem;
  background-color: limegreen;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  border-radius: .2rem;
}
.login-submit:hover{
    background: linear-gradient(to left, rgb(112, 230, 112), rgb(35, 233, 35));
}

input::placeholder {
  text-align: center;
}
input:focus{
    border: .3rem solid lime;
}

.home-btn {
  position: absolute;
  top: 10%;
  color: white;
  background-color: lime;
  border: none;
  padding: .4rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.home-btn a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: .8rem;
}

/* logout button */
.d-flex{
  margin-left: 8rem;
}

body {
  /* background: #2f323e; */
  font-family: Rubik, sans-serif;
  margin: 0;
  overflow-x: hidden;
  /* color: #313131; */
  font-weight: 300;
}
html {
  position: relative;
  min-height: 100%;
  background: rgb(144, 255, 93);
}

</style>

<form action="/admin/login" method="POST" class="login-form">
    <button class="home-btn btn-success"><a href="/">Go Home</a></button>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
            required>
    </div>
    <button type="submit" class="btn btn-success login-submit">Login</button>
</form>
