<!-- ===========================FOOTER SECTION 1======================================================= -->
<footer class="probootstrap-footer">
    <div class="probootstrap-backtotop"><a href="#" class="js-backtotop"><i class="icon-chevron-thin-up"></i></a></div>
    <div class="container">
        <div c lass="row mb50">
            <div class="col-md-5 col-md-push-1">
                <div class="probootstrap-footer-widget">
                    <h4>Links</h4>
                    <ul class="probootstrap-footer-link float">
                        <li><a href="/">Home</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/project">Major Projects</a></li>
                    </ul>
                    <ul class="probootstrap-footer-link float">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/principal">MD/CEO</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-md-push-1">
                <div class="probootstrap-footer-widget">
                    <h4>Contact Info</h4>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i> <span>Rayfield-Zarmaganda Road, Besides Emerald Resort &
                                Gardens</span></li>
                        <li><i class="icon-mail"></i><span><a href="#">modelprimeltd@gmail.com</a></span>
                        </li>
                        <li><i class="icon-phone2"></i><span>+234-803-5860-723</span></li>
                    </ul>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i> <span>Suite A106, No.22 Kigoma Street,Fair Trade Business
                                Complex,
                                Wuse Zone 7,FCT - Abuja, Nigeria</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p style="text-align: center;">© 2019 Model Prime Nigeria Limited 2020. All rights reserved</p>
</footer>
    <!-- ===========================JAVASCRIPT SECTION======================================================= -->
    <script data-cfasync="false" src="./js/email-decode.min.js"></script>
    <script src="js/scripts.min.js" type="fac0909bfb23a39c05f1052b-text/javascript"></script>
    <script src="js/main.min.js" type="fac0909bfb23a39c05f1052b-text/javascript"></script>
    <script src="js/custom.js" type="fac0909bfb23a39c05f1052b-text/javascript"></script>
    <script src="./js/rocket-loader.min.js" data-cf-settings="fac0909bfb23a39c05f1052b-|49" defer=""></script>


    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.alerter').slideUp(1000);
            }, 5000);
        });
    </script>
</body>

</html>
