<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link REL="SHORTCUT ICON" HREF="../img/model prime logo .ico">
    <title>Model Prime | Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/css/colors/default.css" id="theme" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation" style="background-color: black;">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3 style="font-weight: bold; color: darkgreen;"><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                            class="hide-menu">MODEL PRIME</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="/admin/index" class="waves-effect"><i class="fas fa-user-circle fa-fw"
                                aria-hidden="true"></i>Profile</a>
                    </li>
                    <li>
                        <a href="/admin/about" class="waves-effect"><i class="fas fa-address-card fa-fw"
                                aria-hidden="true"></i>About Page</a>
                    </li>
                    <li>
                        <a href="/admin/principal" class="waves-effect"><i class="fas fa-user-tie fa-fw"
                                aria-hidden="true"></i>Principal Page</a>
                    </li>
                    <li>
                        <a href="/admin/services" class="waves-effect"><i class="fas fa-hard-hat fa-fw"
                                aria-hidden="true"></i>Services</a>
                    </li>
                    <li>
                        <a href="/admin/all-projects" class="waves-effect"><i class="fa fa-globe fa-fw"
                                aria-hidden="true"></i>Project</a>
                    </li>
                    <li>
                        <a href="/admin/add-services" class="waves-effect"><i class="fa fa-plus fa-fw"
                                aria-hidden="true"></i>Update Services</a>
                    </li>
                    <li>
                        <a href="/admin/add-project" class="waves-effect"><i class="fa fa-plus fa-fw"
                                aria-hidden="true"></i>Update projects</a>
                    </li>
                    <li>
                        <a href="/admin/update-profile" class="waves-effect"><i class="fa fa-wrench fa-fw"
                                aria-hidden="true"></i>Update profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->